.newTransaction {
  font-size: 1.9rem;
  border: 2px solid $color-text;
  box-shadow: 0px 0px 0px 0px $color-light;
  position: relative;

  &__form {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
  }

  &__categoryList {
    li {
      padding: 5px 0;
    }
    a:hover {
      color: $color-pink-strong;
    }
  }

  &__label {
    display: flex;
    text-align: center;
  }

  &__icon {
    margin-right: 12px;
  }

  &__currency {
    margin-left: 12px;
  }

  input {
    color: $color-text;
    background: none;
    border: none;
    border-bottom: 1px solid $color-text;
    margin-bottom: 20px;
    width: 100px;
  }

  textarea {
    font-family: $font-lato;
    resize: none;
    color: $color-text;
    background: none;
    border: none;
    border-bottom: 1px solid $color-text;
    margin: 0 0 20px;
  }
}
