.footer {
  padding: 0 15px;
  height: 5vh;
  background-color: $color-light;
  border-top: 1px solid $color-gray-light;
  display: flex;
  align-items: center;

  &__wrapper {
    a {
      font-size: 1.5rem;
    }
  }
}
