.header {
  padding: 15px 15px;
  background-color: $color-light;
  border-bottom: 1px solid $color-gray-light;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
