.history {
  margin: 3% 2% 5% 0;

  &__header {
    position: relative;
  }

  &__allList {
  }
  &__li {
  }

  &__singleTransaction {
    padding: 15px 0;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__group {
      display: flex;
    }

    &__icon {
      min-width: 65px;
      font-size: 2em;
      margin-right: 20px;
    }
    &__categoryTitle {
    }
    &__description {
      font-size: 1.6rem;
      color: $color-gray-strong;
    }
    &__cost {
      color: $color-red-strong;
      font-weight: 700;
    }
  }
  &__editing {
    background-color: $color-gray-light;
  }
}
