.history {
  margin: 3% 2% 0 0;
  overflow: hidden;

  &__header {
    position: relative;
  }
  ul {
    max-height: 90%;
    overflow-y: scroll;
  }

  &__li {
    a:hover {
      background-color: $color-gray-lighter;
      border-radius: 10px;
    }
  }

  &__editing {
    background-color: $color-pink-pastel-lighter;
    border-radius: 10px;
  }

  &__singleTransaction {
    padding: 15px 0;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__group {
      display: flex;
    }

    &__icon {
      min-width: 65px;
      font-size: 2em;
      margin-right: 20px;
    }
    &__description {
      font-size: 1.6rem;
      color: $color-gray-strong;
    }
    &__cost {
      padding: 0 10px 0 0;
      color: $color-red-strong;
      font-weight: 700;
    }
  }
}
