$color-primary: #f4f7fa;
$color-optional: #2e6caa;
$color-pink-strong: #f768a1;
$color-pink-pastel: #f7bacb;
$color-text: #283b46;
$color-light: #fff;
$color-black: #fff;
$color-red-strong: #d10000;
$color-gray-strong: #919191;
$color-gray-light: #cacaca;
$color-salmon: #fbb8ac;

$color-blue-dark: #011541;
