$color-primary: #f6f7f9;
$color-pink-strong: #f768a1;
$color-pink-pastel-lighter: rgb(253, 218, 227);
$color-text: #283b46;
$color-light: #fff;
$color-red-strong: #d10000;
$color-gray-strong: #919191;
$color-gray-light: #cacaca;
$color-gray-lighter: #f7eff4;
