* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-lato;
  color: $color-text;
  font-size: 1.6rem;
  background-color: $color-primary;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-text;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.main__wrapper {
  min-height: 90vh;
  margin-bottom: 5vh;
}
