.btn {
  color: $color-text;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 10rem;
  background: none;
  transition: all 0.5s ease;
  &-login {
    padding: 1rem 2rem;
    border: none;
    font-family: $font-lato;
    font-weight: 700;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border: 1px solid $color-optional;
    &:hover {
      box-shadow: 0px 0px 20px 0px $color-pink-strong;
      border: 1px solid $color-text;
    }
  }

  &-newTransaction {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 4rem;
    color: $color-pink-strong;
    &:hover {
      color: $color-pink-pastel;
    }
  }

  &-addTransaction {
    color: $color-pink-strong;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: $color-primary;
    border: 1px solid $color-pink-strong;
    &:hover {
      color: $color-primary;
      background-color: $color-pink-strong;
      border: 1px solid $color-text;
    }
  }
  &-category {
    padding: 1rem;
    border: 1px solid $color-text;
    margin-bottom: 20px;
    font-size: 1.2rem;
    &:hover {
      color: $color-pink-strong;
      border-color: $color-pink-strong;
    }
  }

  &-exit {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 3rem;
    &:hover {
      color: $color-pink-strong;
    }
  }
}
