@import "react-calendar/dist/Calendar.css";

.calendar {
  width: 100%;

  abbr {
    color: $color-text;
    text-decoration: none;
  }

  .react-calendar {
    position: absolute;
    z-index: 1;
    font-size: 1.4rem;
    border: 1px solid $color-text;
    border-radius: 10px;

    &__navigation {
      background-color: $color-pink-pastel-lighter;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: 8px;

      &__arrow {
        &:first-child {
          border-top-left-radius: 10px;
        }
        &:last-child {
          border-top-right-radius: 10px;
        }
      }

      button {
        min-width: 30px;

        &[disabled] {
          background-color: $color-pink-pastel-lighter;
          color: $color-gray-light;
        }
        &:enabled {
          &:hover,
          &:focus {
            background-color: $color-gray-light;
          }
        }
      }
    }
    &__month-view {
      &__days > button {
        &:last-child {
          border-bottom-right-radius: 10px;
        }
        &:nth-last-child(7) {
          border-bottom-left-radius: 10px;
        }
      }
      &__weekdays__weekday abbr {
        font-size: 0.85rem;
      }
      &__days__day {
        &--weekend abbr {
          color: $color-red-strong;
        }
        &--neighboringMonth abbr {
          color: $color-gray-strong;
        }
      }
    }
    &__tile {
      padding: 0.5em;

      &--now {
        background: none;
      }
      &--active {
        background-color: $color-pink-pastel-lighter;
      }
      &:hover {
        background-color: $color-gray-light;
        &.react-calendar__year-view__months__month:last-child {
          border-bottom-right-radius: 10px;
        }
        &.react-calendar__year-view__months__month:nth-last-child(3),
        &.react-calendar__decade-view__years__year:last-child,
        &.react-calendar__century-view__decades__decade:last-child {
          border-bottom-left-radius: 10px;
        }

        &[disabled] {
          background: #f0f0f0;
        }
      }
      &--hasActive {
        background: none;
      }

      &.react-calendar {
        &__year-view__months__month abbr {
          font-size: 1.2rem;
        }
        &__century-view__decades__decade:disabled:last-child {
          border-bottom-left-radius: 10px;
        }
      }
    }
  }
}
